<div id='container'>
  <div class="navigation">
    <ul>
      <li><a href="#/links" class="index">All links</a></li>
      <li><a href="#/shorten" class="create">Shorten</a></li>
      <li><a class="logout" ng-click='signout()'>Logout</a></li>
    </ul>
  </div>
  <form>
    <input type="text" ng-model="search.title">
  <form>
  <ul><li ng-repeat="link in data.links | orderBy : '-visits' | filter:search">
    <h1>{{link.title}} {{link.url}} visits: {{link.visits}}</h1>
    <a href={{link.base_url}}/api/links/{{link.code}} target="_blank">{{link.base_url}}/api/links/{{link.code}}</a>
  </li></ul>
</div>
